@import 'color';
@import 'fonts';


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration:none;
}

input[type='search']::-webkit-search-decoration, 
input[type='search']::-webkit-search-cancel-button, 
input[type='search']::-webkit-search-results-button, 
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

header {
	width: 100%;
}

footer {
	width: 100%;
	margin-top: 80px;
	margin-bottom: 16px
}

button {
	cursor: pointer;
}

.wrapper {
	padding: 0 40px;
	max-width: 1440px;
}

.header-contact {
	width: 100%;
	height: 32px;
	background: $light-grey;
}

.header-contact__div {
	height: 100%;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.header-contact_phone, .header-contact_time-work {
	margin-right: 40px;
	@extend %r12;
	color: $dark-grey;
}

.header-contact_phone > a{
	@extend %r12;
	color: $dark-grey;
	cursor: pointer;
}

.header-top-nav {
	widows: 100%;
	height: 80px;
}

.header-top-nav__div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	height: 100%;
}

.header-top-nav__search {
	max-width: 330px;
	width: 100%;
	display: flex;
}

.header-top-nav__search input {
	max-width: 304px;
	width: 100%;
	border: none;
	border-bottom: solid 1px $grey;
	@extend %r12;
	color: $dark-grey;
	outline: none;
}

.header-top-nav__search input:focus {
	border-bottom: solid 1px $black;
	color: $black;
}

.header-top-nav__search button {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

.header-top-nav__icon {
	display: flex;
}

.header-top-nav__icon {
	div {
		margin-left: 24px;
		cursor: pointer;

		&:first-child {
			margin-left: 0;
		}
	}
}

.header-bottom-nav__div {
	margin: 0 auto;
	width: 100%;
}

.header-bottom-nav {
	background: $grey;
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
}

.header-bottom-nav__menu ul {
	display: flex;
	li {
		list-style-type: none;
		@extend %r14;
		a {
			color: $black;
			margin-right: 40px;
		}		
	}
}

.main__div {
	width: 100%;
	.main-nav {
		margin: 0 auto;
	}
}

.main-nav__cards {
	width: 100%;
	display: flex;
	padding: 16px 0;

	.main-nav__card {
		flex-grow: 1;
		margin-left: 16px;

		&:first-child {
			margin-left: 0;
		}

		.main-nav__photo img {
			width: 100%;
		}

		.main-nav__title {
			@extend %m16caps;
			color: $black;
			margin-top: 16px;
			margin-bottom: 8px;
		}

		.main-nav__text {
			@extend %r12 ;
			color: $black;
			margin-bottom: 4px;
		}

		.main-nav_all-items {
			@extend %r12 ;
			color: $dark-grey;
		}
	}
}

.main-baner {
	display: flex;
	background: $light-grey;
	padding-bottom: 40px;
	margin: 0 auto;

	a {
		width: 58%;

		img{
			display: block;
			margin-left: auto;
			object-fit: contain;
			object-position: right;
			width: 100%;
			max-height: 480px;
		}

	}

	.main-baner__div{

		margin-top: auto;
		padding-left: 130px;

		.main-baner__title {
			@extend %r22caps ;
			color: $black;
			margin-bottom: 8px;
		}

		.main-nav__text {
			@extend %r14;
			color: $black;
			margin-bottom: 25px;
		}

		.main-baner_all-items {
			@extend %r12;
			color: $dark-grey;
			margin-bottom: 5px;
		}

	}
	
}

.main-info__div {
	margin: 0 auto;
}

.main-info__div_left, .main-info__div_right {
	margin-top: 24px;
	display: flex;
	width: 100%;

	h3 {
		@extend %r22caps;
		color: $black;
		margin-bottom: 8px;
	}

	p {
		@extend %r12;
		color: $black;
		margin-bottom: 15px;
	}

	a{
		@extend %r12;
		color: $black;
		margin-top: 9px;

		span {
			border-bottom: 1px solid $black;
		}
	}
}

.main-info__text {
	max-width: 42%;
}

.main-info__text_left {
	padding-right: 130px;
}

.main-info__text_right{
	padding-left: 130px;
	margin-top: auto;
	padding-bottom: 30px;
}

.main-info__div_right {
	.main-info__photo {
		order: -1;

		img{
			
			margin-left: auto;
			object-position: right;
			
		}
	}
}

.main-info__photo {
	width: 58%;

	img{
			max-height: 480px;
			object-fit: contain;
			display: block;
			width: 100%;
		}
}


.footer-nav {
	display: flex;
	margin-bottom: 40px;
}

.footer-nav__div_left {
	width: 50%;
	h2 {
		@extend %r22caps;
		color: $black;
	}

	a {
		margin-bottom: 8px;
		display: block;
		@extend %r14;
		color: $black;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.footer-nav__div_right {
	margin-top: auto;
}

.footer-nav__social {
	margin-bottom: 40px;

	a {
		margin-right: 16px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.footer-nav__phone, .footer-nav__geo {
	display: flex;
	align-items: center;

}

.phone__img, .geo__img {
	margin-right: 8px;
}

.phone__text a, .geo__text {
	@extend %r14;
	color: $black;
}

.footer-nav__phone {
	margin-bottom: 16px;
}

.footer-ifno__p {
	@extend %r12;
	color: $black;
}

.footer__div {
	margin: 0 auto;
}








.name-page__div {
	background: $light-grey;
	height: 40px;
	align-items: center;
	display: flex;
	width: 100%;
	

	.name__div {
		margin: 0 auto;
		width: 100%;
		display: flex;
		align-items: center;
		.page{
			@extend %r14;
			color: $black;
			cursor: pointer;

			span {
				@extend %sb14;
			}
		}
	}
}

.main__div_payment {
	width: 100%;
	margin: 0 auto;
}

.main__h4 {
	@extend %sb14;
	color: $black;
}

.main__h2 {
	@extend %m16caps;
	color: $black;
}

.main__p {
	@extend %r14;
	color: $black;
}

.main__h4_payment {
	margin-top: 32px;
}

.main__h2_payment, .main__p_payment {
	margin-top: 16px;
}








.main-contact__div {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;

	.main-contact__div_right {
		width: 50%;
	}
}

.main-contact__div_left {
	max-width: 445px;
	margin-right: 20px;
}

.main__h4_contact {
	margin-top: 24px;
}

.main-contact__div a {
	@extend %r14;
	color: $black;
}

.main-contact__div_left form p {
	margin-top: 16px;
	margin-bottom: 4px;
	@extend %r12;
	color: $black;
}

.main-contact__div_left form {
	width: 328px;

	input, textarea {
		width: 100%;
		@extend %r12;
		color: $dark-grey;
		padding: 8px;
		border: 1px solid $dark-grey;
		outline: none;
	}

	textarea {
		height: 114px;
		resize: none;
	}
}

.form__p {
	display: flex;
	justify-content: space-between;
}

.main-contact__button {
	margin-top: 16px;
}

.button_black {
	width: 100%;
	@extend %r14;
	color: $light-grey;
	padding: 11px 0 12px 25px;
	background: $black;
	border: none;
	text-align: left;
}

.main-contact__map {
	width: 100%;
	max-height: 280px;
	margin-top: 16px;
	filter: grayscale(1);
}





.sorting {
	display: flex;
	align-items: center;
}

.filter {
	width: 170px;
	text-align: center;
	border-left: 2px solid #A6A6A6;
	border-right: 2px solid #A6A6A6;
	cursor: pointer;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 40px;
}

.sirting__img {
	margin-right: 8px;
	height: 16px;
}

.sorting__div {
	display: flex;
	justify-content: center;
	align-items:center;
	cursor: pointer;
	margin-left: 24px;
}

.sorting__text {
	@extend %r14;
	color: $black;
}

.clothes__div {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.thing__div {
	flex-basis: 25%;
	position: relative;
	max-width: 360px;

	.thing__img {
		height: 480px;
		margin-top: auto;
	}
}

.thing__like {
	position: absolute;
	cursor: pointer;
	background-color: $light-grey;
	border-radius: 25px;
	width: 38px;
	height: 38px;
	bottom:90px;
	right: 16px;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		display: block;
	}
}

.thing__text {
	display: flex;
	justify-content: space-between;
	padding: 16px 16px 22px;

	.thing__p_margin {
		margin-bottom: 2px;
	}

	.thing__price {
		@extend %r14;
		color: $black;
	}
}


.pagination__div {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 40px;
	cursor: pointer;
	height: 24px;
	align-items: center;
	margin: 0 auto;
	.pagination__page {
		display: flex;
		margin: 0 16px;

		.pagination__page_nomber {
			margin-left: 16px;
			@extend %r12;
			color: $black;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}

.basket-catalog {
	width: 220px;
}

.basket-catalog__div {
	margin-top: 24px;
}







.search__div {
	width: 100%;
	margin: 0 auto; 

	.search__div_button {
		margin-top: 32px;
		width: 312px;
	}
}

.button__white-center {
	height: 40px;
	background: $white;
	@extend %r14;
	color: $black;
	border: 1px solid $black;
	cursor: pointer;
}





.basket__div {
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}

.basket-thing__div {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

.basket__img__thing {
	display: flex;
	position: relative;
}

.basket__contener {
	width: 66%;
}

.basket-thing__img {
	max-width: 220px;
	margin-right: 32px;
	max-height: 294px;

	img {
		width: 100%;
		height: 100%;
	}
}

.basket-thing__text {
	.main__p, .basket-thing__h4-margine {
		margin-top: 16px;
	}

	.basket-thing__p-margine {
		margin-top: 0px;
	}
}

.basket-delete {
	display: flex;
	margin-bottom: 40px;
	align-items: center;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	.basket-delete__text {
		@extend %r12;
		color: $black;
	}

	.basket-delete__img {
		height: 24px;
	}
}



.basket-promo__div {
	width: 360px;
}

.basket-promo__div-top {
	background: $grey;
	width: 100%;
	padding: 24px 24px 32px;
	margin-bottom: 16px;
	p {
		@extend %r12;
		color: $black;
		margin-bottom: 4px;
	}

	input {
		width: 100%;
		background: $grey;
		border: 1px solid $dark-grey;
		height: 32px;
		padding: 8px;

		&:focus {
			border: 1px solid $black;
			@extend %r14;
			color: $black;
		}
	}

	.button-basket__disabled {
		width: 180px;
		height: 40px;
		margin-top: 16px;
	}
}

.button__disabled {
	background: $dark-grey;
	@extend %r14;
	color: $black;
	border: none;
}

.basket-promo__button {
	width: 100%;
	text-align: right;
}

.basket-promo__div-bottom {
	padding: 24px;
	background: $grey;
	width: 100%;

	h4 {
		@extend %sb14;
		color: $black;
		margin-bottom: 24px;
	}

	.basket-promo__p {
		display: flex;
		justify-content: space-between;

		p {
			@extend %r14;
			
			margin-bottom: 8px;
		}
	}

	.basket-promo__p-b {
		margin-top: 8px;

		span {
			@extend %sb14;
		}
	}
}

.button-basket__black {
	height: 40px;
	cursor: pointer;
}

.basket-thing__cost, .basket-thing__count {
	width: 100px;
	text-align: center;
	color: $black;

}

.count__input {
	display: flex;
	justify-content: center;
	align-items: center;
	@extend %sb14;

	input {
		background: none;
		border: none;
		font-size: 30px;
		width: 24px;
	}

	.count {
		margin: 0 12px;
	}
}

.count__text, .cost__text {
	margin-bottom: 12px;
	@extend %r14;
}

.cost__div {
	color: $black;
	@extend %sb14;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}







.showroom__div {
	width: 100%;
	margin-top: 32px;
	display: flex;
	color: $black;

	h4 {
		@extend %sb14;
		margin-bottom: 16px;
	}
}

.showroom__text {
	width: 50%;
	margin-right: 16px;

	h5 {
		@extend %m16caps;
		margin-bottom: 16px;
	}

	p {
		@extend %r14;
		margin-bottom: 16px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.showroom__img {
	width: 100%;
}


.slider__div {
	position: relative;

	.showroom__arrow-l, .showroom__arrow-r {
		position: absolute;
		top: calc(50% - 24px);
	}

	.showroom__arrow-l {
		left: 16px;
	}

	.showroom__arrow-r {
		right: 16px;
	}
}





.sing .wrapper {
	padding-right: 0;
}
.sing__div {
	display: flex;
	margin: 0 auto;

	.sing-authorization__div, .sing__contener_right {
		width: 328px;
		padding-top: 32px;
		margin-right: 40px;

		h4 {
			color: $black;
			@extend %sb14;
		}
	}
}


form .forget-password p {
	margin-top: 8px;
	color: $black;
	@extend %r10;
	margin-bottom: 24px;
}

.sing__h4 {
	margin-top: 32px;
}

.sing-guest {
	margin-top: 20px;
}

.sing__div-right {
	background: $grey;
	width: 100%;
	padding-left:40px;
	padding-bottom: 40px;

	.sing__contener_right p {
		color: $black;
		@extend %r12;
	}

	.sing__p {
		margin-top: 16px;
	}
}


// Hide old box
input[type="checkbox"] {
	display: none;
}
// Disabled checkbox view
input[type="checkbox"].sing-checkbox + label span{
	display: block;
	width: 40px;
	height: 16px;
	margin: -2px 0;
	vertical-align: middle;
	background: url("../img/Rectangle85.svg") left top no-repeat;
	cursor: pointer;
}

.checkbox-c2 {
	width: 70px!important;
}
// Selected checkbox view
input[type="checkbox"].sing-checkbox:checked + label span{
	background: url("../img/Rectangle86.svg") left top no-repeat;
}
// Checkbox body
.checkbox{
	display: inline-flex;
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0;
	}
	label {
		display: flex;
		color: $black;
		@extend %r12;

		a{
			display: contents;
			color: $black;
			border-bottom: 1px solid $dark-grey;
			text-decoration: underline;
		}
	}
}

.sing__rights {
	margin: 24px 0;
}

.sing__div-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sing-basket {
	.button__white-center {
		width: 328px;
	}
}






.thanks__p {
	@extend %r12;
	color: $black;
}

.order__div {
	margin-top: 24px;
	background: $light-grey;
	width: 41%;
	padding: 24px;

	.order__text {
		display: flex;
		justify-content: space-between;
		margin-bottom: 16px;

		&:last-child {
			margin-bottom: 0;
		}

		p {
			@extend %r14;
			color: $black;
		}
		span {
			@extend %sb14;
		}
	}
}

.thanks__button {
	width: 312px;
	margin-top: 40px;
}






.account-page {
	margin-right: 40px;
	&:last-child {
		margin-right: 0;
	}
}




.account {
	display: flex;
	margin: 0 auto;
	padding-left: 0;

	.sing__div-right {
		width: auto;
		padding-top: 32px;
	}

	.main-contact__div_left {
		margin-right: 40px;
	}

	.button_black, .button__disabled {
		margin-top: 16px;
	}

	.button__disabled {
		width: 100%;
		height: 40px;
		text-align: left;
		padding-left: 24px;
	}

	.sing__div {
		margin-left: 40px;
	}
}

.main-contact__div_left input:focus {
	color: $black;
	border: 1px solid $black;
}

.sing__div-right form input {
	background: $grey;
}

.select__contener {
	width: 100%;
	height: 32px;
	border: 1px solid $dark-grey;
	padding-left: 4px;
	color: $black;
	@extend %r12;
	appearance: none;
	background-image: url('../img/chevron_right.png'); 
	background-repeat: no-repeat, repeat;
	background-position: right 11px top 50%, 0 0;
 	background-size: 16px auto, 100%; 
}

.sing__div {
	span.msg,
	span.choose {
	  color: #555;
	  padding: 5px 0 10px;
	  display: inherit
	}
	.container {
	  width: 500px;
	  margin: 50px auto 0;
	  text-align: center
	}

	/*Styling Selectbox*/
	.dropdown {
	  width: 300px;
	  display: inline-block;
	  background-color: #fff;
	  border-radius: 2px;
	  box-shadow: 0 0 2px rgb(204, 204, 204);
	  transition: all .5s ease;
	  position: relative;
	  font-size: 14px;
	  color: #474747;
	  height: 100%;
	  text-align: left
	}
	.dropdown .select {
	    cursor: pointer;
	    display: block;
	    padding: 10px
	}
	.dropdown .select > i {
	    font-size: 13px;
	    color: #888;
	    cursor: pointer;
	    transition: all .3s ease-in-out;
	    float: right;
	    line-height: 20px
	}
	.dropdown:hover {
	    box-shadow: 0 0 4px rgb(204, 204, 204)
	}
	.dropdown:active {
	    background-color: #f8f8f8
	}
	.dropdown.active:hover,
	.dropdown.active {
	    box-shadow: 0 0 4px rgb(204, 204, 204);
	    border-radius: 2px 2px 0 0;
	    background-color: #f8f8f8
	}
	.dropdown.active .select > i {
	    transform: rotate(-90deg)
	}
	.dropdown .dropdown-menu {
	    position: absolute;
	    background-color: #fff;
	    width: 100%;
	    left: 0;
	    margin-top: 1px;
	    box-shadow: 0 1px 2px rgb(204, 204, 204);
	    border-radius: 0 1px 2px 2px;
	    overflow: hidden;
	    display: none;
	    max-height: 144px;
	    overflow-y: auto;
	    z-index: 9
	}
	.dropdown .dropdown-menu li {
	    padding: 10px;
	    transition: all .2s ease-in-out;
	    cursor: pointer
	} 
	.dropdown .dropdown-menu {
	    padding: 0;
	    list-style: none
	}
	.dropdown .dropdown-menu li:hover {
	    background-color: #f2f2f2
	}
	.dropdown .dropdown-menu li:active {
	    background-color: #e2e2e2
	}
}
